section {
  display: flex;
}

#nav-bar{
  position: fixed;
  top: 0;
  left: 0;
  background: rgb(9, 175, 73);
  width: 100%;
  height: 50px;
  padding-left: 50px;
  line-height: 30px;
}

@media (max-width: 1000px) {
    body {
      background-color: lightblue;
    }
  }
